.cat{
    width: 100%;
    height: 100%;
}
:host {
  display: block;
  width: 100%;
  height: 100%;
}
.column{
    display: flex;
    margin: 0;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    height: 100%;
    width: 100%;
}