.column{
    display: flex;
    margin: 0;
    flex-direction: column; 
    justify-content: center; 
    align-items: center;  
    height: 100%;
}
.column p {
    overflow: hidden;
}
.big{
    font-size: 10rem;
    margin: 0;
    text-align: center;
    line-height: 5rem;
}
.medium{
    font-size: 4rem;
    margin: 0;
    text-align: center;
    line-height: 3rem;
}
p{
    margin: 0;
    text-align: center;
}
:host {
  display: block;
  width: 100%;
  height: 100%;
}