.navTree {
  display: flex;
  flex-direction: column;
  background-color: transparent;
  padding: 0.75rem 1rem;
  width: max-content;
}

.main a {
  color: #66b2ff;
  font-weight: bold;
  text-decoration: none;
  font-size: 1.2rem;
  text-wrap: wrap;
}

.main a:hover {
  color: purple;
  text-decoration: underline;
}

.branchList {
  display: flex;
  flex-direction: column;
  margin-left: 0;
  position: relative;
  padding-left: 0;
}

.branch {
  height: 1.3rem;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
  position: relative;
}

.connector {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 1rem;
  height: 100%;    
  margin-right: 0.5rem;
}

.vertical {
  flex: 1;
  width: 1px;
  background: gray;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 50%;
}

.horizontal {
  width: 1rem;
  height: 1px;
  background: gray;
  align-self: flex-start;
  margin-left: 0.5rem;
  margin-top: 0.7rem;
}
.vertical.last {
  bottom: 40%;
}
.branch a, .main a {
  color: #66b2ff;
  text-decoration: none;
  font-size: 1.3rem;      
  margin: 0;
  line-height: 1;     
}
.branch a:hover {
  color: purple;
  text-decoration: underline;
}
