*{
  padding: 0;
  margin: 0;
}
:host {
  display: block;
  width: 100%;
  height: 100%;
}
.view{
  padding: 2%;
  border: 2px solid #aaa;
  border-radius: 10px;
  display: flex;
  flex-direction: row;
}
.canvas{
  width: 95%;
  border: 2px solid #aaa;
  background-color: #fff;
  margin-right: 1%;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 20px;
  flex: 1;
  align-items: center;
}
.paints{
  border: 2px solid #aaa;
  display: flex;
  flex-wrap: wrap;
  width: 80px;
  padding: 5px;
  box-sizing: border-box;
}

input[type="radio"] {
  appearance: none;
  -webkit-appearance: none;
  width: 20px;
  height: 20px;
  border: 2px solid #fff;
  outline: 2px solid #aaa;
  border-radius: 6px;          
  background-color: #eee;      
  cursor: pointer;
  transition: all 0.15s ease;
}

input[type="radio"]:hover {
  outline-color: #888;
}

input[type="radio"]:checked {
  outline-color: #66b2ff;
  box-shadow: 0 0 0 3px rgba(37, 99, 235, 0.25); 
}
input[type="color"]{
  width: 100%;
}
