:host {
  display: block;
  width: 100%;
  height: 100%;
}
.frame{
  margin: 0;
  height: 100%;
  width: 100%;
}
.row {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 100%;
}
.column {
  display: flex;
  flex-direction: column;
  flex-basis: 100%;
  width: 20px;
  flex: 1;
  align-items: center;
  background-repeat: no-repeat;
  background-position-y: center ;
  background-size: contain;
}
.height{
    height: 40%;
}