

.dark-mode-toggle {
  position: fixed;
  top: 0.5rem;
  right: 1rem;
  padding: 0.5rem 1rem;
  background-color: #222;
  color: #eee;
  border: none;
  border-radius: 0.375rem;
  cursor: pointer;
  font-size: 0.9rem;
  z-index: 1000;
}
.dark-mode .dark-mode-toggle {
  background: #eee;
  color: #111;
}
@font-face {
  font-family: 'PixelTahoma';
  src: url('assets/fonts/windows-2000-and-xp.otf.woff2/windows-2000-and-xp.otf.woff2') format('woff2')
}
*{
  font-family: PixelTahoma;
}
p{
  cursor: default;
}
html, body {
  height: 100%;
  overflow: hidden;
}
body{
  background-image: url('assets/images/background.jpg');
  background-repeat: repeat;
  background-size: cover;
  margin: 0;
  background-position: 0 0;

  animation: scrollBackground 30s linear infinite;
}
@keyframes scrollBackground {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 0 100%;
  }
}
/* images */
.go {
  background-image: url('assets/images/arrow.png');
}
.cat{
  background-image: url('assets/images/catitio.gif') ;
}
.cherries{
   background-image: url('assets/images/cherries.png') ;
}
.lemon{
 background-image: url('assets/images/lemon.png') ;
}
.clover{
 background-image: url('assets/images/clover.png') ;
}
.seven{
 background-image: url('assets/images/seven.png') ;
}
/* ETHproductions -windows 2000 and xp
Philippe123 - fs Tahoma 8px */




